.header {
  max-width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px 4px 0 0;
  box-shadow: rgba(94, 79, 70, 0.5) 0px 4px 15px 4px;
}
