.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
}

.link:active,
.link:hover,
.link:focus {
  color: rgb(94, 79, 70, 121);
  font-weight: 600;
}
